[Unit]
Description=mINK routingd
Requires=network.target

[Service]
ExecStart=/usr/bin/routingd \
    -i rt1 \
    -p 15000 \
    -h 127.0.0.1 \
    --gdt-streams=100

WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target
