[Unit]
Description=mINK sysagentd

[Service]
ExecStart=/usr/bin/sysagentd -i ag1 -h 127.0.0.1 -c 127.0.0.1:15000 -p /usr/lib/mink --plugins-cfg /etc/mink/plg_cfg.json
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target
